$primary: black; 
$secondary: white;
$invers: rebeccapurple;
$light: #ff9800; 
$dark: black;
$info: #00CCB9;
$success: #006000; 
$warning: #FF9800;
$danger: #b3190e;

$primary_text_color: black;
$secondary_text_color: #212529; 

$modal-content-bg: $light ; 
$modal-content-color: black;
$modal-header-border-color: transparent;

$body-bg: #fdd835;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $secondary; 

$border-loader_wrapper-outer_spin: #3498db;
$border-loader_wrapper-middle_spin: #e74c3c;
$border-loader_wrapper-inner_spin: #f9c922;

$bg-answer-result-correct: #00a200;
$fg-answer-result-correct: $primary_text_color;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $primary_text_color;
$bg-answer-result-wrong: #f44336;
$fg-answer-result-wrong: $primary_text_color;

$progress-bg: transparent;

$link-color: #b71c1c; 
$link-decoration: none;
$link-hover-color: white; 
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$statistics-icon-opacity: 0.2;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
    $theme-colors,
    (
      invers:$invers,
    )
);

$colors: map-merge(
    $colors,
      (
      )
);

$bg-footer: $light;
$footer-color: $dark;

$colorChangingBg: (
  0: (fg: white, bg: black),
  50: (fg: white, bg: black),
  100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
  0: (fg: white, bg: #a50101),
  100: (fg: white, bg: $danger)
);

$colorChangingArs: (
  0: (fg: #212529, bg: transparent),
  25: (fg: #b71c1c, bg: transparent), 
  50: (fg: #212529, bg: transparent),
  75: (fg: #212529, bg: transparent),
  100: (fg: #212529, bg: transparent)
);

$colorChangingNova: (
  0: (fg: #212529, bg: transparent),
  25: (fg: #212529, bg: transparent),
  50: (fg: #b71c1c, bg: transparent), 
  75: (fg: #212529, bg: transparent),
  100: (fg: #212529, bg: transparent)
);

$colorChangingDot: (
  0: (fg: #212529, bg: transparent),
  25: (fg: #212529, bg: transparent),
  50: (fg: #212529, bg: transparent),
  75: (fg: #b71c1c, bg: transparent), 
);

$colorChangingClick: (
  0: (fg: #b71c1c, bg: transparent), 
  25: (fg: #212529, bg: transparent),
  50: (fg: #212529, bg: transparent),
  75: (fg: #212529, bg: transparent),
  100: (fg: #b71c1c, bg: transparent) 
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": #212529, ".arsnova-logo-nova": #b71c1c, ".arsnova-logo-click": #212529);

$popover-body-color: initial;

$code-color: $primary_text_color;

@import "postbuild";

.btn-secondary {
  border-color: #d3d3d3;
}

.card {
  color: $secondary_text_color
}

